* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  padding: 0 300px;
  overflow: hidden;
}

header > section {
  background-color: #0282f9;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 20px;
}

header > section ul {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

header .search {
  font-weight: bold;
  font-size: 15px;
  border-bottom: 2px solid #0282f9;
  padding: 0 0 0 40px;
  margin-left: 60px;
}

header .search i {
  margin-left: 10px;
}

header nav {
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 60px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 85%;
}

header nav ul li {
  line-height: 80px;
  border-bottom: 4px solid transparent;
  font-size: 12px;
  font-weight: bold;
}

header nav ul li:hover {
  cursor: pointer;
  border-bottom-color: #0282f9;
}

header nav ul li:last-child {
  border: none;
}

.jumbo {
  height: 45vh;
  background-image: url("/storage/assets/laravel-comics/jumbotron.jpg");
  background-position-x: center;
  background-size: cover;
  position: relative;
  overflow: visible;
}

.box-container {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1c1c1c;
  color: #f1eded;
  position: relative;
  overflow: visible;
}

.box-container #btn {
  padding: 10px;
  background-color: #0282f9;
  color: white;
  position: absolute;
  top: -35px;
  left: 300px;
}

.box-container .box {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
}

.box-container .box a {
  text-decoration: none;
  color: white;
}

.box-container .box div {
  height: 140px;
  overflow: hidden;
  margin-bottom: 20px;
}

.box-container .box div img {
  width: 100%;
}

.box-container .box div h6 {
  font-size: 10px;
}

.box-container span {
  color: white;
  padding: 10px 50px;
  background-color: #0282f9;
  font-size: 10px;
  font-weight: bold;
  margin: 20px auto 0;
}

.merch {
  background-color: #0282f9;
  padding: 40px 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.merch div {
  display: flex;
  align-items: center;
  height: 45px;
}

.merch div:last-child img {
  width: 45px;
}

.merch div img {
  height: 100%;
}

.merch div span {
  color: white;
  font-size: 10px;
  margin-left: 10px;
}

.contact {
  background-image: url("/storage/assets/laravel-comics/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 300px;
  position: relative;
}

.contact div {
  display: inline-block;
  vertical-align: top;
  color: #797979;
  padding: 15px 15px 15px 0;
}

.contact div ul li {
  font-size: 10px;
}

.contact div h3 {
  color: white;
  font-size: 17px;
  margin: 15px 0;
}

.contact p {
  color: #797979;
  font-size: 10px;
}

.contact p span {
  color: #0282f9;
}

.contact img {
  position: absolute;
  bottom: -80px;
  right: 300px;
  width: 500px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer ul li {
  line-height: 90px;
  margin-left: 15px;
}

.footer ul li img {
  width: 20px;
}

.footer ul li:first-child {
  color: #0282f9;
}

.footer .button {
  padding: 10px 15px;
  border: 1px solid #0282f9;
  color: white;
}

