* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  padding: 0 250px;
  overflow: hidden;
}

header > section {
  background-color: #0282f9;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 20px;
}

header > section ul {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

header .search {
  font-weight: bold;
  font-size: 15px;
  border-bottom: 2px solid #0282f9;
  padding: 0 0 0 40px;
  margin-left: 60px;
}

header .search i {
  margin-left: 10px;
}

header nav {
  padding: 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 60px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 85%;
}

header nav ul li {
  line-height: 80px;
  border-bottom: 4px solid transparent;
  font-size: 12px;
  font-weight: bold;
}

header nav ul li:hover {
  cursor: pointer;
  border-bottom-color: #0282f9;
}

header nav ul li:last-child {
  border: none;
}

.jumbo {
  height: 45vh;
  background-image: url("/storage/assets/laravel-comics/jumbotron.jpg");
  background-position-x: center;
  background-size: cover;
  position: relative;
  overflow: visible;
}

.box-container {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1c1c1c;
  color: #f1eded;
  position: relative;
  overflow: visible;
}

.box-container #btn {
  padding: 10px;
  background-color: #0282f9;
  font-size: 20px;
  color: white;
  position: absolute;
  top: -40px;
  left: 260px;
}

.box-container .box {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px 20px 10px;
}

.box-container .box a {
  text-decoration: none;
  color: white;
}

.box-container .box div {
  height: 140px;
  overflow: hidden;
  margin-bottom: 10px;
}

.box-container .box div img {
  width: 100%;
}

.box-container .box div h6 {
  font-size: 10px;
}

.box-container span {
  color: white;
  padding: 10px 50px;
  background-color: #0282f9;
  font-size: 10px;
  font-weight: bold;
  margin: 20px auto 0;
}

.merch {
  background-color: #0282f9;
  padding: 40px 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.merch div {
  display: flex;
  align-items: center;
  height: 45px;
}

.merch div:last-child img {
  width: 45px;
}

.merch div img {
  height: 100%;
}

.merch div span {
  color: white;
  font-size: 10px;
  margin-left: 10px;
}

.banner {
  position: relative;
  background-color: #0282f9;
  height: 50px;
}

.banner > div {
  position: absolute;
  bottom: 10px;
  left: 300px;
}

.banner > div > div.contain {
  position: relative;
}

.banner > div > div.contain > a span {
  background-color: #4c8cec;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: blanchedalmond;
  padding: 3px;
  display: none;
}

.banner > div > div.contain > a span:last-child {
  top: 268px;
  width: 100%;
}

.banner > div > div.contain:hover span {
  display: block;
}

.elem-info {
  display: flex;
  padding: 50px 300px;
}

.elem-info h1 {
  color: #101047;
  font-weight: 900;
}

.elem-info > div {
  padding: 20px;
}

.elem-info > div p {
  font-size: 15px;
}

.elem-info > div > div {
  display: flex;
}

.elem-info .header-tab {
  display: flex;
  justify-content: space-between;
  background-color: #1e5e1e;
  border-bottom: 1px solid black;
  padding: 10px 15px;
  margin: 20px 0;
}

.elem-info .header-tab:first-child {
  flex-grow: 1;
  border-right: 1px solid black;
}

.elem-info .header-tab p {
  color: rgba(153, 149, 149, 0.733);
  font-weight: bold;
}

.elem-info .header-tab span {
  color: #d6cece;
  margin-left: 5px;
}

.adv {
  text-align: right;
  font-weight: bold;
}

.adv img {
  margin-top: 10px;
  width: 250px;
}

.tab-section {
  padding: 20px 300px 0;
  background-color: rgba(223, 215, 215, 0.733);
  display: flex;
  justify-content: space-between;
}

.tab-section .tab {
  flex-basis: 48%;
  margin-left: 15px;
  margin-bottom: 100px;
}

.tab-section .tab > ul > li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.tab-section .tab > ul > li span {
  font-size: 13px;
  color: #0282f9;
}

.tab-section .tab > ul > li span:not(:last-child):after {
  content: ",";
  color: black;
}

.tab-section .tab > ul > li:first-child {
  padding-bottom: 25px;
}

.tab-section .tab > ul > li h5,
.tab-section .tab > ul > li h2 {
  width: 60%;
  color: #101047;
}

.tab-section .tab > ul > li h5::after {
  content: ":";
}

.tab-section .tab > ul > li ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  width: 100%;
}

.tab-section .tab:last-child ul li {
  justify-content: start;
}

.tab-section .tab:last-child ul li h5 {
  width: 40%;
}

.card {
  padding: 0 300px;
  background-color: rgba(223, 215, 215, 0.733);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.card .card-elem {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid grey;
  flex-grow: 1;
  padding: 15px;
  font-size: 10px;
  font-weight: 900;
  color: rgba(99, 98, 98, 0.733);
}

.card .card-elem:last-child {
  border-right: 1px solid grey;
}

.contact {
  background-image: url("/storage/assets/laravel-comics/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 250px;
  position: relative;
}

.contact div {
  display: inline-block;
  vertical-align: top;
  color: #797979;
  padding: 15px 15px 15px 0;
}

.contact div ul li {
  font-size: 10px;
}

.contact div h3 {
  color: white;
  font-size: 17px;
  margin: 15px 0;
}

.contact p {
  color: #797979;
  font-size: 10px;
}

.contact p span {
  color: #0282f9;
}

.contact img {
  position: absolute;
  bottom: -80px;
  right: 300px;
  width: 500px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer ul li {
  line-height: 90px;
  margin-left: 15px;
}

.footer ul li img {
  width: 20px;
}

.footer ul li:first-child {
  color: #0282f9;
}

.footer .button {
  padding: 10px 15px;
  border: 1px solid #0282f9;
  color: white;
}

