.banner{
    position: relative;
    background-color: $color-blue;
    height: 50px;
}

.elem-info{
    display: flex;
    padding: 50px 300px;
    h1{
        color: rgb(16, 16, 71);
        font-weight:900;
    }
    >div{
        padding: 20px;
        p{
            font-size: 15px;
        }
        >div{
            display: flex;
        }
    }
    
    
    .header-tab{
        display: flex;
        justify-content: space-between;
        background-color: rgb(30, 94, 30);
        border-bottom: 1px solid black;
        padding: 10px 15px;
        margin: 20px 0;
        &:first-child{
            flex-grow: 1;
            border-right: 1px solid black;
        }
        p{
            color: rgba(153, 149, 149, 0.733);
            font-weight: bold;
        }
        span{
            color: rgb(214, 206, 206);
            margin-left: 5px;
        }
    }
}

.adv{
    text-align: right;
    font-weight: bold;
    img{
        margin-top: 10px;
        width: 250px;
    }
}

.tab-section{
    padding-top: 20px;
    background-color: rgba(223, 215, 215, 0.733);
    display: flex;
    >div{
        ul li{
            display: flex;
            ul{
                display: flex;
            }
        }
    }
}