.contact{
    background-image: url('/storage/assets/laravel-comics/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 250px;
    position: relative;
    div{
        display: inline-block;
        vertical-align: top;
        color: $color-grey;
        padding: 15px 15px 15px 0;
        ul li{
            font-size: 10px;
        }
        h3{
            color: white;
            font-size: 17px;
            margin: 15px 0;

        }
    }
    p{
        color: $color-grey;
        font-size: 10px;
        span{
            color:$color-blue;
        }
    }
    img{
        position: absolute;
        bottom: -80px;
        right: 300px;
        width: 500px;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-dark;
    ul{
        display: flex;
        align-items:center;
        
        li{
            line-height: 90px;
            margin-left: 15px;
            img{
                width: 20px;
            }
            &:first-child{
                color: $color-blue;
            }
        }
    }
    .button{
        padding: 10px 15px;
        border: 1px solid $color-blue;
        color: white;
    }
}