header{



    > section{
        background-color: $color-blue;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 20px;
        ul{
            flex-basis: 30%;
            display: flex;
            justify-content: space-between;
            font-size: 10px;
        }
    }

    .search{
        font-weight: bold;
        font-size: 15px;
        border-bottom: 2px solid $color-blue;
        padding: 0 0 0 40px;
        margin-left: 60px;
        i{
            margin-left: 10px;
        }
    }

    nav{
        padding: 0 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{

            width: 60px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            flex-basis: 85%;
            li{
                line-height: 80px;
                border-bottom:  4px solid transparent;
                font-size: 12px;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                    border-bottom-color:$color-blue;
                }
                &:last-child{
                    border: none;
                }

            }
        }
    }
}

.jumbo{
    height: 45vh;
    background-image: url('/storage/assets/laravel-comics/jumbotron.jpg');
    background-position-x:center ;
    background-size: cover;
    position: relative;
    overflow: visible;
   
}